# Függőségek
backend/node_modules/
teszt/node_modules/

# Adatbázis
backend/database.sqlite

# Környezeti változók
.env

# Operációs rendszer
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logok
*.log
npm-debug.log*

# Ideiglenes npm és rendszer mappák (Helyi javítás miatt)
.npm-cache/
tmp/