/*

Kb 760px alatt, amíg még mindig landscape a képernyő: 
reszponzivitási probléma, de legalább overflow hidden

*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  scrollbar-gutter: stable;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: var(--tavolsag-md);
  margin: auto;
  padding: var(--tavolsag-lg) var(--tavolsag-lg) var(--tavolsag-lg)
    var(--tavolsag-md);
}

.oszlop-bal,
.oszlop-kozep,
.oszlop-jobb {
  display: flex;
  flex-direction: column;
  gap: var(--tavolsag-md);
}

details {
  padding: var(--tavolsag-sm);
}

summary {
  padding: var(--tavolsag-sm);
}

.profil-oldalsav {
  position: relative;
  overflow: hidden;
}

.profil-oldalsav header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--tavolsag-md);
}

.profil-oldalsav img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.szint-sav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--tavolsag-xs);
}

.haladasi-sav {
  width: 100%;
}

.erme-szamlalo {
  align-self: flex-end;
}

.naptar {
  width: 100%;
  height: 200px;
}

.statisztika-racs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--tavolsag-sm);
}

.chart {
  position: relative;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.radar-diagram {
  width: 100%;
  height: auto;
}

.bejelentkez-menu ul,
.oldalso-menu ul,
.feladat-lista {
  display: flex;
  gap: var(--tavolsag-sm);
}

.bejelentkez-menu {
  padding: 0 var(--tavolsag-md);
  align-items: end;
}

.bejelentkez-menu ul,
.oldalso-menu ul {
  width: 100%;
  justify-content: space-between;
}

.bejelentkez-menu ul li {
  padding: var(--tavolsag-xs) var(--tavolsag-sm);
}

.oldalso-menu ul {
  padding: var(--tavolsag-sm) var(--tavolsag-xs);
}

.feladat-lista {
  flex-direction: column;
  gap: var(--tavolsag-xs);
}

.feladat {
  display: flex;
  flex-direction: column;
  gap: var(--tavolsag-xs);
  padding: var(--tavolsag-xs) var(--tavolsag-sm);
}

.feladat label {
  display: flex;
  align-items: center;
  gap: var(--tavolsag-sm);
}

.grafikon-kartya {
  position: relative;
}

.cimke {
  position: absolute;
  padding: var(--tavolsag-xs) var(--tavolsag-sm);
  transform: translate(-50%, -50%);
}

.cimke.logic {
  top: 12%;
  left: 50%;
}

.cimke.creativity {
  top: 40%;
  left: 88%;
}

.cimke.health {
  top: 88%;
  left: 76%;
}

.cimke.social {
  top: 88%;
  left: 24%;
}

.cimke.soul {
  top: 40%;
  left: 12%;
}

.gomb-atnevez {
  position: absolute;
  top: 8px;
  right: 8px;
}

/*módisítandó--------------*/
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--szin-tema-szegely);
  border-radius: var(--sugar-xs);
  background-color: var(--szin-tema-mely);
  cursor: pointer;
  display: inline-grid;
  place-content: center;
  position: relative;
  transition:
    background-color var(--ido-gyors),
    border-color var(--ido-gyors),
    box-shadow var(--ido-gyors);
}

input[type="checkbox"]::before {
  content: "";
  width: 8px;
  height: 4px;
  border-left: 2px solid var(--szin-sotet);
  border-bottom: 2px solid var(--szin-sotet);
  transform: rotate(-45deg) scale(0);
  transition: transform var(--ido-gyors) var(--animacio-darabos);
  margin-top: -2px;
}

input[type="checkbox"]:hover {
  border-color: var(--szin-kozepes);
}

input[type="checkbox"]:checked {
  background-color: var(--szin-kozepes);
  border-color: var(--szin-sotet);
  box-shadow: var(--ragyogas);
}

input[type="checkbox"]:checked::before {
  transform: rotate(-45deg) scale(1);
}

#uj-feladat-gomb {
  width: 100%;
  margin: var(--tavolsag-md) 0 var(--tavolsag-sm) 0;
  padding: var(--tavolsag-xs) var(--tavolsag-md);
  border: 1px solid transparent;
  border-radius: var(--sugar-lg);
}

.todo-oldalsav header {
  display: flex;
  flex-direction: column;
}

.todo-oldalsav nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--tavolsag-xs) 0;
}

#feladat-modal,
#auth-modal,
#kategoria-modal,
#tema-modal {
  padding: var(--tavolsag-md);
  width: 90vw;
  max-width: 400px;
  margin: auto;
}

#feladat-urlap,
#auth-urlap {
  display: flex;
  flex-direction: column;
  gap: var(--tavolsag-sm);
}

#feladat-urlap input,
#feladat-urlap select {
  width: 100%;
  padding: var(--tavolsag-xs) var(--tavolsag-sm);
  border: 1px solid transparent;
  border-radius: var(--sugar-sm);
}

.modal-gombok {
  display: flex;
  gap: var(--tavolsag-sm);
  justify-content: flex-end;
  margin-top: var(--tavolsag-xs);
}

.modal-gombok button {
  padding: var(--tavolsag-xs) var(--tavolsag-md);
  border: 1px solid transparent;
  border-radius: var(--sugar-lg);
}

#modal-hatter {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.541);
}

/*-----------módisítandó*/
@media (orientation: portrait) {
  main {
    grid-template-columns: 1fr;
    gap: var(--tavolsag-md);
    padding: var(--tavolsag-sm);
  }

  .modal-gombok {
    flex-direction: column;
  }

  .modal-gombok button {
    width: 100%;
  }

  .oszlop-jobb {
    order: -1;
  }

  .bejelentkez-menu ul {
    flex-direction: column;
    width: 100%;
  }

  .bejelentkez-menu {
    padding: var(--tavolsag-md);
    align-items: stretch;
  }

  .bejelentkez-menu ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: var(--tavolsag-sm) 0;
  }
}
