@import url("root.css");
@import url("elrendezes.css");
@import url("stilusok.css");
@import url("animacio.css");
@import url("betuformazas.css");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
